@using Microsoft.AspNetCore.Mvc.TagHelpers
@using EntityLayer.PaginationHelper
@using EntityLayer.Concrete

@model BusinessLayer.Results.IDataResult<Page<Product>> 

@{
    var pageCount = Model.Data.TotalItemCount / Model.Data.PageSize;  //Global olarak sayfada kullanmak uzere page countu bir degiskende tuttum.
    var pageCountResult = Model.Data.TotalItemCount % Model.Data.PageSize == 0 ? pageCount : pageCount + 1;
}

<table class="table table-hovered">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>CID</th>
    <th>QuantityPerUnit</th>
    <th>UnitInStock</th>
    <th>UnitOnOrder</th>
    <th>UnitPrice</th>
    <th>Delete</th>
    <th>Update</th>
    </thead>
    <tbody>
    @foreach(var item in Model.Data.Items)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.CategoryID</td>
            <td>@item.QuantityPerUnit</td>
            <td>@item.UnitsInStock</td>
            <td>@item.UnitsOnOrder</td>
            <td>@item.UnitPrice</td>
            <td>
                <a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@item.ProductID"
                   onclick="createSolution()" type="submit" class="btn btn-primary" style="width: 150px">DELETE<i class="fa fa-trash"></i></a> </td>
            <td>
            <a class="btn btn-danger" asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@item.ProductID"
               onclick="createSolution()" type="submit" class="btn btn-primary" style="width: 150px">UPDATE<i class="fa fa-trash"></i></a>
        </tr>
    }
    </tbody>
</table>

@for (var i = 1; i <= pageCountResult; i++)
{
    <a asp-action="GetPagedList" asp-controller="Product" asp-route-pageIndex="@i" class="btn btn-success">@i</a>
}

